!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.metadata/
/core/target/
/desktop/target/
/web/target/
/freighttrackingnative/.idea/
/address/target/
/native/aora-main/
/.vscode/
/instead/
/JasperReportsSamples/
/logs/
/target/
/company-web/.vscode/
/native/companys/node_modules/
/usermanager/Logs/usermanager.log
/keycloak-email-verification-listener/target/
