!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.metadata/
/core/target/
/desktop/target/
/web/target/
/freighttrackingnative/.idea/
/address/target/
/native/aora-main/
/.vscode/
/instead/
/JasperReportsSamples/
/logs/
/target/
/company-web/.vscode/
/native/companys/node_modules/
/usermanager/Logs/usermanager.log
/keycloak-email-verification-listener/target/
/native/freight/test-build/_expo/static/js/web/entry-6ccd6a2d0907943d5f988586151dba55.js
/native/freight/test-build/assets/assets/fonts/Poppins-Black.14d00dab1f6802e787183ecab5cce85e.ttf
/native/freight/test-build/assets/assets/fonts/Poppins-Bold.08c20a487911694291bd8c5de41315ad.ttf
/native/freight/test-build/assets/assets/fonts/Poppins-ExtraBold.d45bdbc2d4a98c1ecb17821a1dbbd3a4.ttf
/native/freight/test-build/assets/assets/fonts/Poppins-ExtraLight.6f8391bbdaeaa540388796c858dfd8ca.ttf
/native/freight/test-build/assets/assets/fonts/Poppins-Light.fcc40ae9a542d001971e53eaed948410.ttf
/native/freight/test-build/assets/assets/fonts/Poppins-Medium.bf59c687bc6d3a70204d3944082c5cc0.ttf
/native/freight/test-build/assets/assets/fonts/Poppins-Regular.093ee89be9ede30383f39a899c485a82.ttf
/native/freight/test-build/assets/assets/fonts/Poppins-SemiBold.6f1520d107205975713ba09df778f93f.ttf
/native/freight/test-build/assets/assets/fonts/Poppins-Thin.9ec263601ee3fcd71763941207c9ad0d.ttf
/native/freight/test-build/assets/assets/icons/bookmark.b40bcd8facefaaa5e6e4ec92fa944a4c.png
/native/freight/test-build/assets/assets/icons/eye.6227644c883053f2bebf670b54fd0e61.png
/native/freight/test-build/assets/assets/icons/eye-hide.139eefc9e199061c4c53df382e33b46e.png
/native/freight/test-build/assets/assets/icons/home.74c61a48ec2c9e7575c6ca079580faf6.png
/native/freight/test-build/assets/assets/icons/left-arrow.f8fcb37769de3dda1c874c7050030326.png
/native/freight/test-build/assets/assets/icons/logout.32d9e63d96cb8c90cc38998a619fd414.png
/native/freight/test-build/assets/assets/icons/menu.c4ad2e3ba75e27168526cbf62e6f5b8c.png
/native/freight/test-build/assets/assets/icons/play.c72d9811c33dcd6f27a3651e3c3ed266.png
/native/freight/test-build/assets/assets/icons/plus.3550459539e06a0db8acb92c53b64cd3.png
/native/freight/test-build/assets/assets/icons/profile.b7c7cbcce0ae2ab2ef054fcfb2ffbbf7.png
/native/freight/test-build/assets/assets/icons/right-arrow.6ad261a7377e6b2363848baaf08eb1e5.png
/native/freight/test-build/assets/assets/icons/search.8644290218119d95109f6c2aef718eaf.png
/native/freight/test-build/assets/assets/icons/upload.2c4ff5450e6cbcccf3224565e507e59c.png
/native/freight/test-build/assets/assets/images/empty.7911ab5e87c67e63173bcdf7c7557f79.png
/native/freight/test-build/assets/assets/images/logo.1908d1d8ff5f30f8d4dfa23c3d308585.png
/native/freight/test-build/assets/assets/images/logo-small.04bc857094f4057c88c0f3d2052d60e5.png
/native/freight/test-build/assets/assets/images/profile.71b63948086c4a65470730d684cf9e3e.png
/native/freight/test-build/assets/assets/images/thumbnail.f223b098a5203f599c2ce3b599ff7b48.png
/native/freight/test-build/index.html
/native/freight/test-build/metadata.json
/test-local/ngnix/ngnix/var/log/nginx/fallback_access.log
/test-local/ngnix/ngnix/var/log/nginx/fallback_error.log
/test-local/ngnix/ngnix/var/log/nginx/proxy-host-1_access.log
/test-local/ngnix/ngnix/var/log/nginx/proxy-host-1_error.log
