# Application
APP_PORT=8082
JAVA_OPTS=-Xms512m -Xmx1024m

# PostgreSQL
POSTGRES_DB=company
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_this_password
POSTGRES_PORT=5432

# Keycloak
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_this_password
KEYCLOAK_REALM=degra
KEYCLOAK_RESOURCE=company
KEYCLOAK_SSL_REQUIRED=external
KEYCLOAK_HOSTNAME=localhost

# Database URLs
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/${POSTGRES_DB}
KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak

# Service Dependencies
USERMANAGER_URL=http://usermanager:8081
ADDRESS_URL=http://address:8083
