#https://www.materialpalette.com/blue-grey/amber

.custom-date-picker {
    -fx-border-color: #708090;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}

.required-field {
    -fx-border-color: #FFC107;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}

.border-as-shadow-box {
    -fx-border-color: gray gray gray gray; /* Top, Right, Bottom, Left */
    -fx-border-width: 1px;
}

.root {
	-fx-font-size: 12pt;
}

.button {
	-fx-font-size: 12pt;
}

.label {
	-fx-font-size: 12pt;
}

.text-field {
	-fx-font-size: 12pt;
}